/* DESCENDANT AND CHILD SELECTORS */

/* class selector (more specific) */
/* descendant selector */
.header h1 {
  color: green;
}
/* direct children selector */
.header > h1 {
  color: purple;
}

/* element selector (low specificity) */
div h1 {
  color: red;
}
div > h1 {
  color: blue;
}
